* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #F2F9F9; */
    font-size: 8px;
    font-family: "Playfair Display" serif;

}


#hero-section {
    background-image: url(../images/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 400px;
    text-align: center;

}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background: rgba(1, 1, 58, 0.5);
    z-index: 1;
}
.navdiv {
    display: flex;
    
    
}

.navdiv a{
    color: #00D1F9;
    gap: 15px;
    font-size: 40px;
    padding-right: 15px;
}

header, .hero {
    position: relative;
    z-index: 2;
    color: #fff;
}


header {
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    /* border-bottom: 1px solid #ccc; */
    position: sticky;
    top: 0;
    z-index: 1020;
    height: 50px;
}

header .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.navbar h1{
    font-size: 39.725px;
    font-family: "Playfair Display", serif;
    color: #00D1F9;
    margin: 0px opx 8px;
    
}

header .navbar ul{
    display: flex;
    flex-direction: row;
    /* gap: 30px; */
    font-size: 20px;
    padding-top: 10px;
}

header .navbar ul li{
    list-style: none;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 17px;
    /* font-weight: bold; */
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin: 0px 25px 0px 0px;
    padding: 35px 0px;
}

/* .one-class:hover .triangle-icon1{
    visibility: visible;

} */
/* header .navbar ul li a:hover .hover-line{
    color: #00D1F9;
    display: block;

    
} */

/* .one-class:hover .line-1 {
    visibility: visible;
}  */

.one-class:hover {
    color: #00cfff;
    text-decoration: underline;
}
header .navbar ul .free-delivery{
    
    padding-right: 30px;
    text-align: left;
    position: relative;
    bottom: 10px;
    
}

header .navbar ul .order-now{
    border-left: 1px solid #00D1F9 ;
    padding-left: 20px;
    margin-left: -40px;
}

header .navbar ul .free-delivery p{
    color: #6c757d;
    font-size: 18px;
    padding-bottom: 5px;
}

header .navbar ul .free-delivery a{
    color: #00D1F9;
    font-size: 18px;
    margin-top: 20px;
}

header .navbar ul .order-now button{
    font-family: "Open Sans", sans-serif;
    background-color: #00D1F9;
    padding: 8px 24px ;
    border: none;
    border-radius: 70px;
    color: #ffffff;
    font-size: 17px;
}

header .navbar ul .order-now button:hover {
    background-color: #230de4;
}



/* p{
    color: white;
    font-size:30px;
} */
.hero{
    text-align: left;
    /* border: #00D1F9 1px solid; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation-delay: 1.5s;
}

.hero h1 {
    font-size: 5rem;
}

.hero button {
    width: 200px;
    height: 60px;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    /* transition: background-color 0.5s ease, transform 0.3s ease; */
    
}

.fa-magnifying-glass{
    background-color: #00D1F9;
    transition: transform 0.5s ease;
    padding: 15px ;
    /* margin-right: 10px; */
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.fa-magnifying-glass:hover{
     background-color: #230de4;
}
.order {
    background-color: #00D1F9;
    transition: transform 0.5s ease;
    
}

.free-estimate {
    background-color: #230cf1;
}

.hero .order:hover {
    background-color: #230cf1;
    transition: 1s ease;
}

.hero .free-estimate:hover{
    background-color: #00D1F9;
    transition: 1s ease;
    
}

.dropdown{
    float: left;
    padding-right: 20px;
   
}

.dropdown a{
     color: #fff;
     text-decoration: none;
     font-size: 17px;
    font-family: "Open Sans", sans-serif;
    
}

.dropdown .fa-angle-down{
    padding-left: 5px;
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
}
 .dropdown .dropdown-btn{
    color: #fff;
    /* font-weight: bold; */
    position: relative;
    border: none;
    outline: none;
    padding: 0px 0px;
    cursor: pointer;
    padding-bottom: 50px;
 }

 .dropdwon-content{
    border: none;
    overflow: hidden;
    position: absolute;
    background-color: #f2faf9;
    opacity: 0;
    max-height: 0;
    z-index: 1;
    border-radius: 10px;
    top: 90px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
 }

 .dropdwon-content a{
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    color: black;
    padding: 8px 15px;
    padding-right: 40px;
 }

 .dropdwon-content a:hover{
    background-color: #00D1F9;
    color: #fff;
 }

 .dropdown:hover .dropdwon-content{
    display: block;
    max-height: 450px;
    opacity: 1;
    transition: max-height 0.4s ease-in, opacity 0.4s ease-in;
 }

 .dropdown-btn:hover{
    color: #00cfff;
 }

 
.hero{
    text-align: center;
    /* border: #00D1F9 1px solid; */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation-delay: 1.5s;
}

.hero h1 {
    font-size: 5rem;
}

.about-line{
    font-size: 19px;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 580px;
    font-family: "Playfair Display" serif;
}

.about-line li{
    list-style: none;
    
}

.about-line a{
    text-decoration: none;
    color: #fff;
}

.about-list1{
    color: #00D1F9;
}

.product h4{
    color: #00D1F9;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;

}

.product p{
    font-size: 70px;
    color: rgb(35, 35, 77);
    text-align: center;
    width:60%;
    margin: auto;
    font-family: "Playfair Display", serif;
    margin-top: 20px;
    font-weight: bold;
   
}

.general-bottle{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 80px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    
    
    
    
}

.bottle1{
    border: 1px solid rgb(102, 99, 99);
    border-radius: 12px;
    /* background-color: rgb(255, 255, 255); */
    margin-bottom: 100px;
    

}

.product-image{
    height: 300px;
    width: 380px;
    border-radius: 12px 12px 0px 0px;
}

.next{
    background-color: #F2F9F9;
    /* border: 1px solid red; */
    /* margin-bottom: 0; */
    /* padding-bottom: 100px; */
    height: 200px;
    padding-top: 30px;
    border-radius: 12px;

}

.next h6{
    color: #969494;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.next h5{
    color: #05012b;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
}

.next h5:hover{
    color: #60adbe;
}

.next p{
    font-size: 25px;
    color: #1baecc;
    margin-bottom: 20px;
}


.read-us{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-size: 18px;
    background-color: #11038f;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin-left: 120px;
    /* padding-bottom: 20px; */
    /* padding: 20px; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
    text-decoration: none;
}

.read-us:hover{
    background-color: #00cfff;
    transition: 1s ease;
}

.next a{
    text-decoration: none;
}


.footer {
    background-color: #06142E;
    color: white;
    padding: 30px 20px;
    text-align: center;
    position: relative;
    height: 90vh;
    
  }
  
  .newsletter{
    display: flex;
    justify-content: center;
    margin: 20px 20px;
  }

  .first-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 70px;
    padding: 0px 50px;
    margin-top: 60px;
  }

  .subform{
    position: relative;
  }

  .email1{
    width: 600px;
    height: 60px;
    border-radius: 40px;
    padding: 0px 30px;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    border: none;
  }

  .email1:focus{
    border-color: #04287e;
    outline: none;
    box-shadow: 2px 2px 10px rgba(17, 1, 161, 0.9);
  }

  .newsub {
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 150px;
    background-color: #19409A;
    border-radius: 40px;
    left: 500px;
    top: 5px;
    border: none;
    font-size: 18px;
    color: white;
  }

  .newsub:hover {
    background-color: #00cfff;
    transition: 0.5s ease;
  }

  .socialmedia-icon {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 17px;
  }

  .man {
    color: #fff;
    padding: 12px 12px;
    background-color: #19409A;
    border-radius: 50%;
  }

  .man:hover {
    background-color: #00cfff;
    transition: 0.5s ease;
  }

  .men {
    color: #fff;
    padding: 12px 15px;
    background-color: #19409A;
    border-radius: 50%;
  }

  .men:hover {
    background-color: #00cfff;
    transition: 0.5s ease;
  }

  .callup{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* border: 3px solid red; */
    position: relative;
    padding: 40px;
  }
  
  .Acuas-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;

  }

  .logo{
   
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
  }

  .Acuas-section h3{
    font-size: 25px;
  }
  .Acuas-section p{
    font-size: 20px;
    text-align: left;
    color: gray;
    /* padding-bottom: 20px; */
  }


  .fa-hand-holding-water{
    color: #00cfff;
     font-size: 25px;
  }

.aboutus-section{
    padding: 10px;
    margin: 0px 50px;
    width: 300px;
    /* border: 1px solid red; */
}

.aboutus-section h3{
    font-size: 25px;
    text-align: start;
    padding-bottom: 20px;
    
}

.custom-list{
    list-style: none;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    /* text-decoration: none; */
    font-size: 14px;
    text-align: start;
    
}

.custom-list a{
    text-decoration: none;
    color: gray;
    padding: 10px;
    font-size: 18px;
}

.custom-list a:hover{
    color: #00cfff;
    transition: 1s ease;
}

.custom-list li{
    margin: 8px 0;
    /* cursor: pointer; */
    transition: color 0.3s ease;
}

.custom-list li:hover{
    color: #00cfff;
    transform: translateX(6px);
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 1s ease;

}


.sign-up{
    width: 200px;
    height: 60px;
    border-radius: 40px;
    border: none;
    margin-top: 30px;
    padding-right: 60px;
    font-size: 17px;
    padding: 0px 30px;
    position: relative;
}

.newsign{
    cursor: pointer;
    position: absolute;
    height: 40px;
    width: 80px;
    background-color: #19409A;
    border-radius: 60px;
    left: 220px;
    bottom: 60px;
    border: none;
    font-size: 18px;
    color: white; 
}

.newsign:hover{
    background-color: #00cfff;
    transition: 0.5s ease;
}

.business-hours{
    /* border: 1px solid red; */
    width: 300px;
    margin: 0px 50px;
}

.business-hours h3{
    font-size: 25px;
    text-align: start;
    padding-bottom: 30px;
}

.business-hours h4{
    font-size: 17px;
    text-align: start;
    color: gray;
    padding-bottom: 10px;
}

.business-hours p{
    font-size: 18px;
    text-align: start;
    padding-bottom: 20px;
}

.contactinfo{
    /* border: 1px solid red; */
    width: 300px;
    margin: 0px 30px;
    
}

.contactinfo h4{
    font-size: 25px;
    text-align: start;
    padding-bottom: 30px;
}

.location-add{
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: relative;
}

.fa-location-dot{
    font-size: 15px;
    /* border: 1px solid red; */
    margin-top: -0px;
    color: gray;
    position: absolute;   
}

.fa-location-dot:hover{
    color: #00cfff;
    transition: 1s ease;
}

.location-add h3{
    font-size: 17px;
    /* border: 1px solid red; */
    color: gray;
    /* text-align: start; */
    padding-bottom: 15px;
}

.location-add h3:hover{
    color: #00cfff;
    font-size: 18px;
    text-align: start;
    transition: 1s ease;
}

.location-add a{
    text-decoration: none;
}
.fa-envelope{
    font-size: 15px;
    /* border: 1px solid red; */
    /* padding-top: 30px; */
    color: gray;
    margin-top: -0px;
    position: absolute;
}

.fa-envelope a{
    text-decoration: none;
}

.fa-envelope:hover{
    color: #00cfff;
    transition: 1s ease;
}

.fa-phone{
    font-size: 15px;
    /* border: 1px solid red; */
    /* padding-top: 30px; */
    color: gray;
    margin-top: -0px;
    position: absolute;
}

.fa-phone a{
    text-decoration: none;
}

.fa-phone:hover{
    color: #00cfff;
    transition: 1s ease;
}
    

.fa-print{
    font-size: 15px;
    /* border: 1px solid red; */
    /* padding-top: 30px; */
    color: gray;
    margin-top: -0px;
    position: absolute;
}

.fa-print a{
    text-decoration: none;
}
.fa-print:hover{
    color: #00cfff;
    transition: 1s ease;
}

.back-to-top{
    position: fixed;
    z-index: 1000;
    bottom: 60px;
    
}
.fa-arrow-up{
    background-color: #1f119b;
    border-radius: 50%;
    width: 20px;
    margin-left: 1250px;
    font-size: 20px;
    color: #fff;
    padding: 20px;
   
}

.fa-arrow-up:hover{
    background-color: #00cfff;
    transition: 1s ease;
    border: #04287e 2px solid;
}

.baby-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

/* .baby-footer::before{
    content: '';
    height: 2px;
    width: 500px;
    background-color: #00cfff;
} */



.baby-text{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 40px ;
    gap:5px;
}
.baby-text a{   
    text-decoration: underline;
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.copywrite{
    background-color: #fff;
    color: #001f4d;
    border-radius: 50%;
    padding: 2px 3px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;

}

.baby-text p{
    color: gray;
    font-size: 15px;
    /* padding-top: 12px; */
    font-family: Arial, Helvetica, sans-serif;
}

.last-text{
    display: flex;
    flex-direction: row;
    padding: 10px 70px 0px 0px ;
    gap: 5px;
}

.last-text h4{
    color: gray;
    font-size: 15px;
    /* padding-top: 5px; */

    font-family: Arial, Helvetica, sans-serif;
}

.last-text a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.hr-line{
    background-color:#44c2df ;
    height: 0.1px;
    width: 100%;
    opacity: 0.2;
    margin-top: 20px;
}